* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
    overflow: hidden;
}

:root {
    --primary: #000080;
    --light: #EEEEEE;
    --dark: #212121;
    --color1: #191970;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

.copyright {
    color: black;
    text-align: end;
    font-family: "Poppins", sans-serif;
  }

.container {
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary);
}

h1 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hamburger {
    display: block;
    position: relative;
    z-index: 1;

    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;

    transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--primary);
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span {
    background-color: var(--primary);
}

.menu {
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a {
    color: #fff;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a.is-active, .menu a:hover {
    background-color: var(--primary);
}


@media (min-width: 786px) {
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
    }
}

/* relatorio card */
.relatorio {
    margin: auto;
    margin-top: 300px;
    width: 50%;
    padding: 10px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: var(--color1);
    border-radius: 20px;
}

.relatorio > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
}


.relatorio > h2 {
    color: #f0ffffde;
}

#preloader {
    background: #111;
    position: fixed;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#preloader p {
    position: absolute;
    color: #fff;
    font-size: 1.5em;
    font-family: consolas;
    bottom: 130px;
    letter-spacing: 0.15em;
    z-index: 999;
}

#preloader .ring {
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #CC000C;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#preloader .ring::before {
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #CC000C;
    box-shadow: 0 0 0 5px #CC000C33,
    0 0 0 10px #CC000C22,
    0 0 0 20px #CC000C11,
    0 0 20px #CC000C,
    0 0 20px #CC000C;
}

#preloader .ring:nth-child(2)
{
    animation: animate2 4s linear infinite;
    animation-delay: -1s;
    border-top: 4px solid transparent;
    border-left: 4px solid #0055FF;
}

#preloader .ring:nth-child(2)::before {
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #0055FF;
    box-shadow: 0 0 0 5px #0055FF33,
    0 0 0 10px #0055FF22,
    0 0 0 20px #0055FF11,
    0 0 20px #0055FF,
    0 0 20px #0055FF;
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#preloader .ring:nth-child(3)
{
    animation: animate2 4s linear infinite;
    animation-delay: -3s;
    position: absolute;
    top: 400px;
    border-top: 4px solid transparent;
    border-left: 4px solid #0055FF;
}

#preloader .ring:nth-child(3)::before {
    content: '';
    position: absolute;
    top: initial;
    bottom: 12px;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #0055FF;
    box-shadow: 0 0 0 5px #0055FF33,
    0 0 0 10px #0055FF22,
    0 0 0 20px #0055FF11,
    0 0 20px #0055FF,
    0 0 20px #0055FF;
}

